# Files to remain untracked

# Python
.ipynb_checkpoints/
.conda/
.ipython/
.jupyter/
.pylint.d/
.anaconda/
.condarc

# R
*.Rhistory
*.Rproj.user
*.Rproj

# Git
*.viminfo
*.bash_history
*.gitconfig

# text/reports
*.txt
*.pdf
*.csv
*.xlsx
*.xls
*.zip
*.pbix
*.png
*.db
*.ini